<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Post</title>
    <script
      src="https://kit.fontawesome.com/e35de20559.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/user-home.css" />
    <link rel="stylesheet" href="css/single-post.css" />
  </head>
  <body>
    <div class="container">
      <section class="post-section">
        <div class="post">
          <div class="user-info">
            <div class="avatar">
              <img src="images/ac_sousuke_3_lanjut_shadowed.jpg" alt="" />
            </div>
            <div class="username">
              @bluefish
            </div>
            <div class="input-group-file-upload">
              <div>
                <h5>Media</h5>
                <input type="file" class="file-upload" />
              </div>
            </div>
          </div>
          <img src="images/2019-06-29 062.jpg" alt="" />
        </div>
      </section>
      <section class="add-comment">
        <div class="input-group">
          <div>
            <h5>Comment</h5>
            <input type="text" class="input" />
          </div>
        </div>
        <button class="btn primary">Post</button>
      </section>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
