<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User-Home</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/user-home.css" />
  </head>
  <body>
    <div class="container">
      <section class="header">
        <div class="brand">
          <h3>Grateful4</h3>
        </div>
        <div class="nav-buttons">
          <ul>
            <li><a class="nav-button active" href="#">Log In</a></li>
            <li><a class="nav-button" href="#">Sign Up</a></li>
          </ul>
        </div>
      </section>

      <section class="profile">
        <div class="avatar">
          <img src="images/ac_sousuke_3_lanjut_shadowed.jpg" alt="" />
        </div>
        <div class="follow-button">
          <div class="handle">@bluefish</div>
          <button>Follow</button>
        </div>
        <div class="user-numbers">
          <div class="posts-count">123 posts</div>
          <div class="followers-count">123 followers</div>
          <div class="following-count">123 following</div>
        </div>
        <div class="user-notes">
          <div class="message">Happy things....</div>
        </div>
      </section>
      <section class="posts">
        <div class="post">
          <img src="images/fruit-2109063_1280.jpg" alt="" />
        </div>
        <div class="post">
          <img src="images/backboard-1866968_1280.jpg" alt="" />
        </div>
        <div class="post">
          <img src="images/racing-car-4425049_1280.jpg" alt="" />
        </div>
        <div class="post">
          <img src="images/sparrow-5138163_1920.jpg" alt="" />
        </div>
      </section>
    </div>
  </body>
</html>
