.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.container .image {
  background: url('../images/dog-2074921_1280.jpg') center no-repeat;
  background-size: cover;
  display: none;
}
.login-section {
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 500px;
}
.login-section .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
}
.login-section .brand h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
}

.login-section h2 {
  font-size: 2.5rem;
}

.login-section p {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container .image {
    display: block;
    background-position-y: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
