.container {
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 1rem;
  margin-bottom: 0.8rem;
}
.header .brand h3 {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
  font-weight: 300;
}
.header .nav-buttons ul {
  list-style: none;
}
.header .nav-buttons ul li {
  display: inline;
}
.header .nav-button {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: #000;
}
.header .nav-button.active {
  background-color: var(--primary);
  padding: 0.4rem;
  border-radius: 0.2rem;
  color: #fff;
}

.profile {
  display: grid;
  grid-template-columns: 30% 70%;
}
.profile .avatar {
  grid-column: 1;
  grid-row: 1/4;
  padding: 1.5rem;
}
.profile .avatar img {
  border-radius: 50%;
}

.profile .follow-button {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile .follow-button .handle {
  font-size: 1.7rem;
  margin-right: 1rem;
}
.profile .follow-button button {
  background-color: var(--primary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: 1.7rem;
  color: #fff;
}

.profile .user-numbers {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.6rem;
}
.profile .user-numbers .posts-count {
  margin-right: 1rem;
}
.profile .user-numbers .followers-count {
  margin-right: 1rem;
}
.profile .user-numbers .following-count {
  margin-right: 1rem;
}
.profile .user-notes {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profile .user-notes .message {
  font-size: 1.3rem;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.posts .post {
  margin: 0.2rem;
  cursor: pointer;
}
.posts .post img {
  align-self: center;
  object-fit: cover;
}
