.compose-container {
  width: 100%;
  max-width: 1000px;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.user-info .avatar {
  margin-right: 0.5rem;
}
.user-info .avatar img {
  border-radius: 50%;
  width: 30px;
  min-height: 30px;
}
.user-info .username {
  font-size: 1.5rem;
}

.comments-section {
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}
.comments-section .comment {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 0.8rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
}
.comments-section .comment p {
  font-size: 1.5rem;
}
.add-comment {
  padding: 0.5rem;
}
.add-comment .write-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.add-comment textarea {
  width: 80%;
}
.add-comment i {
  font-size: 2.5rem;
}
.input-group {
  display: block;
  margin: 0.5rem;
}

@media screen and (min-width: 700px) {
  .compose-container .post-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .compose-container .post-section .post img {
    align-self: top;
    max-height: 500px;
  }
}
